# Verification


## 1. Objectif

Nous devons permettre à l'utilisateur de se connecter à son compte sans saisir ces informations si il s'est déja connecter auparavant. La session doit etre conserver dans le navigateur. 